<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="sign2signEntities" connectionString="metadata=res://*/sign2sign_models.csdl|res://*/sign2sign_models.ssdl|res://*/sign2sign_models.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sign2sign.database.windows.net;initial catalog=sign2sign;persist security info=True;user id=amirkaplan;password=Qweasdzxc1@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>

Scaffold-DbContext "data source=sign2sign.database.windows.net;initial catalog=sign2sign;persist security info=True;user id=amirkaplan;password=Qweasdzxc1@;multipleactiveresultsets=True;application name=EntityFramework" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models
